
  <small>
    &#169; <a href="http://www.parker-barker.com">Parker-Barker</a> 2012
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "" %></li>
      <li><%= link_to "Contact", "" %></li>
      <li><a href="http://hellosplt.tumblr.com/">Blog</a></li>
    </ul>
  </nav>

